.full-content {
  width: 100%;
  max-width: 1180px;
  padding: 0 24px;
  margin: 32px auto;
}

.full-content header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.full-content header span {
  font-size: 20px;
  margin-left: 24px;
  color: #333;
}

.full-content header img {
  height: 64px;
}

.full-content h1 {
  margin-top: 80px;
  margin-bottom: 24px;
  color: #333;
}

.full-content p {
  font-size: 16px;
  color: #333;
  line-height: 24px;
}
.full-content footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.full-content footer a {
  text-decoration: none;
  color: #333;
}

.full-content footer a:hover {
  opacity: 0.8;
}

.statements-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

